@import "tailwindcss";

@theme {
  --color-brand-primary: #1e3a8a; /* Azul Profundo para confianza y profesionalismo */
  --color-brand-secondary: #f43f5e; /* Coral/Rojo Suave para calidez y amor (Corazón) */
  --color-brand-accent: #10b981; /* Verde Esperanza para crecimiento e impacto */
  --color-brand-bg: #f8fafc; /* Fondo suave y limpio */
}
