@import "tailwindcss";

@theme {
  --color-brand-primary: #9d174d; /* Magenta Profundo para solidaridad, fuerza y humanidad */
  --color-brand-secondary: #db2777; /* Rosa Cálido para el lazo rosado, corazón y empatía */
  --color-brand-accent: #f472b6; /* Rosa Suave para esperanza y el nuevo renacer */
  --color-brand-bg: #fffdfd; /* Fondo limpio y cálido en base a blanco */
}
